<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBillingLabel">Create or edit a Billing</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!billing.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="billing.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="billing.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="billing.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_customerId">Customer Id</label>
            <select class="form-control" id="field_customerId" name="customerId" [(ngModel)]="billing.customerId" (ngModelChange)="mapLicense($event)" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id === billing.customerId ? billing.customerId : customerOption.id" *ngFor="let customerOption of customers; trackBy: identify">{{customerOption.id}} {{customerOption.name}} </option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_billingDate">Billing Date</label>
            <div class="input-group">
                <input id="field_billingDate" type="text" class="form-control" name="billingDate" ngbDatepicker  #billingDateDp="ngbDatepicker" [(ngModel)]="billing.billingDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="billingDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" readonly name="quantity" id="field_quantity"
                [(ngModel)]="billing.quantity" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_billingAmount">Billing Amount</label>
            <input type="number" readonly class="form-control" name="billingAmount" id="field_billingAmount"
                [(ngModel)]="billing.billingAmount" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
